script#2020.
  import Img from '../components/Img.svelte'
  import Mov from '../components/Mov.svelte'
  
.main
  #2020.year.blblue
    h2 2020
    .row
      .half
        Img(src='./assets/2020/covid.png', width='150px', caption='covid-19')
      .half
        Mov(src='./assets/2020/hand-computer.mp4', width='250px', caption='')
    Img(src='./assets/2020/skydome.png', width='200px', caption='')
    .m4 
      Img(src='./assets/2020/fr-compromise.png', width='450px', caption='started fr-compromise')
    iframe(
      title='Computer Programming with Spencer Kelly',
      style='border: solid 1px #dedede; margin-top:60px;',
      src='https://app.stitcher.com/splayer/f/502426/68480006',
      width='420',
      height='100',
      frameborder='0',
      scrolling='no'
    )
    .tab.i.f09 Computer programming with Spencer Kelly
    .mt3
      Mov(
        src='./assets/2020/fast-mode.mp4',
        width='450px',
        caption='compromise started being very fast<br/><i>contract w/ <a href="https://moov.co/">Moov.co</a></i>'
      )
      //- ul.tab.f09.i for Moov Inc

.main.mt5
  #2019.year
    h2 2019
    Img(src='./assets/2019/2019.jpg', width='150px', caption='')
    Img(src='./assets/2019/dumps.png', width='150px', caption='')
    Img(src='./assets/2019/globe.png', width='150px')
    ul.i.m3 got compromise running at the NHS
      .tab for <a href="http://mbihealthgroup.com/">MBI health</a>.
    Img(src='./assets/2019/twitter.png', width='380px')
    ul.m3.i worked at <a href="https://venngage.com/">Venngage</a>
      .tab built an automated-layout design tool.
    Img(src='./assets/2019/blender.jpg', width='450px')

.main.mt5
  #2018.year.blsky
    h2 2018
    .row
      .half
        Img(src='./assets/2018/geneology.png', width='450px')
        Img(src='./assets/2018/cheese-maker.png', width='250px', caption='did my genealogy. it was hard.')
      .half
        Img(src='./assets/2018/mars.jpg', width='350px')
        Img(src='./assets/2018/begin-cli.gif', width='350px', caption='worked at Begin.com')
        ul.i wrote a date-parser for natural language
    .row
      .half
        Img(src='./assets/2018/spacetime.png', width='250px', caption='')
        Img(src='./assets/2018/spacetime.gif', width='250px', caption='')
      .half
        ul.i wrote a timezone library
        ul.i that was hard.

.main.mt5
  #2017.year
    h2 2017
    Img(
      src='./assets/2017/tests-failing.png',
      width='500px',
      caption='probably the hardest thing I\'ve ever done.</br>compromise v12'
    )
    .row.mt3
      .half
        Img(src='./assets/2017/who-ordinal.png', width='350px', caption='')
        Img(src='./assets/2017/2017.jpg', width='150px', caption='')
        Img(src='./assets/2017/dumpster.gif', width='350px', caption='parsing wikipedia<br/>in-use at wolfram alpha')
      .half
        Img(src='./assets/2017/wtf-wikipedia.png', width='250px', caption='')
        Img(src='./assets/2017/japan.jpg', width='150px', caption='')
    Img(src='./assets/2017/govdna.png', width='450px', caption='pension vizualization for GovInvest Inc')

.main.mt5
  #2016.year
    h2 2016
    .row
      .half
        Img(src='./assets/2016/map.jpg', width='250px', caption='')
        Img(src='./assets/2016/yonge-street.jpg', width='150px', caption='')
      .half
        Img(src='./assets/2016/old.png', width='250px', caption='')
        Img(src='./assets/2016/montreal.png', width='150px', caption='')

.main.mt5 
  #2015.year
    h2 2015
    Img(src='./assets/2015/2015.jpg', width='150px', caption='')
    Img(src='./assets/2015/toronto.jpg', width='250px', caption='moved to Toronto')
    .mt3.i.tab blue jays win the ALDS
    Img(src='./assets/2015/playoffs.jpg', width='400px')

.main.mt5 
  #2014.year
    h2 2014
    div went to grad school for a bit.
    .row
      .half
        Img(src='./assets/2014/gradschool.jpg', width='150px', caption='')
      .half
        .mt2
          Img(src='./assets/2014/digraph-genealogy.jpg', width='150px', caption='')
    .mt4 was granted this weird software patent
    Img(src='./assets/2014/state-patent.jpg', width='450px', caption='')

.main.mt5
  #2013.year
    h2 2013
    Img(src='./assets/2013/2013.png', width='150px', caption='')
    Img(src='./assets/2013/deceased-persons.jpg', width='250px', caption='')
    .row
      .half
        Img(src='./assets/2013/london.jpg', width='250px', caption='')
      .half
        Img(src='./assets/2013/Tree.png', width='150px', caption='')

.main.mt5 
  #2012.year
    h2 2012
    .row
      .half
        Img(src='./assets/2012/london.jpg', width='250px', caption='')
      .half
        div moved to London
        .tab.i.f09 for <a href="https://state.com/">State.com</a>
        //- Img(src='./assets/2012/beach.jpg', width='250px', caption='')
    Img(src='./assets/2012/opinion.png', width='420px', caption='')
    Img(src='./assets/2012/mars.jpg', width='550px', caption='')

.main.mt5 
  #2011.year
    h2 2011
    iframe.m3(
      src='https://player.vimeo.com/video/13992710?byline=0&portrait=0',
      width='550',
      height='309',
      frameborder='0',
      allow='autoplay; fullscreen',
      allowfullscreen
    )
.spacer
